<nav class="navbar navbar-expand-md navbar-light" style="background-color: #cc568b;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink="menu" class="navbar-brand btn btn-light"><i class="navbar-brand" ></i></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item" >
          <a routerLink="first" routerLinkActive="active" class="nav-link text-light" >Menu</a>
        </li>
        <li class="nav-item">
          <a routerLink="second" routerLinkActive="active" class="nav-link text-light">Order</a>
        </li>
        <li class="nav-item">
            <a routerLink="third" routerLinkActive="active" class="nav-link text-light">Payment</a>
        </li>
      </ul>
    </div>
    <a routerLink="cart" routerLinkActive="active" class="nav-link text-light">Update Menu</a>
    <a routerLink="cart" routerLinkActive="active" class="nav-link text-light">Sales History</a>
</nav>